:export {
  themeColor: $amx-theme-color;
  themeDarkColor: $amx-theme-color-dark;
  textColor: $amx-text-color;
  fontSize: $amx-font-size;
  radiusSm: $amx-radius-sm;
  indicatorBottom: $amx-indicator-bottom;
  spacingXS5: $amx-spacing-xs-5;
  spacingMD1: $amx-spacing-md-1;
  radiusXL1: $amx-radius-xl-1;
  headerTop: $amx-header-top;
  // ... 其他需要导出的变量
}
