// 颜色变量
$primary-color: #8957e5;
$text-color: #333;
$text-color-light: #fff;
$text-color-gray: #999;
$background-dark: #1a1a1a;
$background-light: #fff;

// 字体大小
$font-size-xs: 24rpx;
$font-size-sm: 26rpx;
$font-size-md: 28rpx;
$font-size-lg: 32rpx;
$font-size-xl: 36rpx;

// 间距
$spacing-xs: 10rpx;
$spacing-sm: 20rpx;
$spacing-md: 30rpx;
$spacing-lg: 40rpx;

// 圆角
$border-radius-sm: 8rpx;
$border-radius-md: 16rpx;
$border-radius-lg: 30rpx;

// 阴影
$box-shadow: 0 2rpx 12rpx rgba(0, 0, 0, 0.1);

// 混合器

// 过渡动画
@mixin transition($property: all, $duration: 0.3s, $timing-function: ease-in-out) {
  transition: $property $duration $timing-function;
}

// 响应式布局
@mixin responsive($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// 背景颜色
@mixin background-rgba($color: $amx-theme-color, $opacity: 0.5) {
  background-color: $color;
}

// 常用工具类
.content {
  min-height: 100vh;
}

.transition-all {
  @include transition(all, 0.5s, ease-in-out);
}

.title-spacing {
  font-size: $amx-font-size-sm;
  font-weight: $amx-font-weight-bold;
  margin: $amx-spacing-xs-6 0;
}

.background-linear {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(6, 4, 31, 0) 51.94%, $amx-theme-color-dark 89.19%);
    pointer-events: none;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(90deg, rgba(6, 4, 31, 0.3) 0%, rgba(6, 4, 31, 0) 10%),
      /* 左边渐变 */ linear-gradient(270deg, rgba(6, 4, 31, 0.3) 0%, rgba(6, 4, 31, 0) 10%),
      /* 右边渐变 */ linear-gradient(0deg, rgba(6, 4, 31, 0.2) 0%, rgba(255, 0, 0, 0) 90%); /* 上边渐变 */
    background-blend-mode: multiply;
    pointer-events: none;
  }
}
